.dropdown i{
    font-size: 30px;
}

header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav-box{
    margin-right: 50%;
}
  #sidebar-nav a{
  color: black;
  }

  .contain-body{
    display: flex;
    position: relative;
    
  }

  #part-1{
    position: fixed;
    margin-top: 75px;
  }
  #part-2{
    margin-left: 287px;
    margin-top: 75px;
  }

  .signup{
    margin-right: 100%;
  }

  .side-nav-topics{
    margin-left: 17.5px;
  }

  .fixed-size-img {
    width: 100%;
    height: 225px;
    object-fit: cover; 
  }

  

  .fixed-container-width{
    width: 1225px;
  }
  .fixed-card-width{
    width: 400px;
  }


  .btn-view{
   margin-right: 242px ;
  }
  

  .language{
    margin-bottom: 0px;
    font-size: large;
  }

  .bg-color-body{
    --bs-bg-opacity: 1;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 61%, rgba(158,255,52,1) 100%);
  }

  .logo img{
    height: 2rem;
    margin-right: 23rem;
  }

  .submit-button{
    border-radius: 20px;
    border: none;
  }

  .submit-button:hover{
    background-color: #6c757d;
    color: white;
   
  }

  .no-text{
   
    margin-left: 400px;
    font-size: 3.5rem;
  }

  .nav-item{
    font-size: 17.7px;
  }