
  html, body{
    height: 100%;
    width: 100%;
  }
  
  header {
    background: #f6f5f5;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
  }

  .bigbox{
    width: 100%;
    top: 0px;
    background-color: white;

  }
  
  main {
    /* padding: 20px;
    max-width: 800px;
    margin: 0 auto; */
    /* background-color: cornflowerblue; */
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
  }

  .verymain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    margin-top: 70px;
    
   
  }

  .smallbox{
    /* border: 2px solid black; */
    margin: 5px;
  }
  
  article {
    /* background: rgb(231 220 237); */
    /* background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,1) 30%, rgba(252,176,69,1) 100%); */
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 61%, rgba(158,255,52,1) 100%);
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  article h2 {
    margin: 0 0 10px;
  }
  
  article img {
    width: 100%;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  article p {
    font-size: 1em;
    margin: 10px 0;
  }
  
  article a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  article a:hover {
    color: #007BFF;
  }
  
 .nav-color{
  /* background: rgb(253,29,29);
  background: linear-gradient(90deg, rgba(253,29,29,1) 30%, rgba(252,176,69,1) 100%); */
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 61%, rgba(158,255,52,1) 100%);
  
 }
  
 .logo img{
  height: 2rem;
  margin-right: 23rem;
}